.FormTextInput__container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	align-items: baseline;
}

input[type="text"],
input[type="number"],
select {
	width: 75%;
	padding: 12px;
	border: 1px solid #dadde9;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

label {
	width: 25%;
	text-align: left;
	margin-left: 7x;
}

/* NEED media query for smaller screens */
