.formToggle {
	padding: 0em 0em 1.2em 0em;
	display: flex;
	flex-direction: row;
	width: 50vw;
	margin: auto;
	justify-content: space-evenly;
}

.ToggleFormType_toggleBtn {
	padding: 0.5em;
	background-color: #e45b00;
	border-radius: 8px;
	cursor: pointer;
	padding: 15px 32px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	border: none;
}

.ToggleFormType_toggleBtn:hover {
	background-color: #c05005;
}
