input[type="submit"] {
	background-color: #192274;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

@media (min-width: 640px) {
	.container {
		width: 60%;
	}
}

@media (min-width: 1000px) {
	.container {
		width: 50%;
	}
}
.CharacterForm__titleDivider {
	width: 65%;
	margin-top: -0.6em;
	margin-bottom: 1.6em;
}
