.navButton {
	text-decoration: none;
	padding: 0.5em;
	background-color: #4c63af;
	border-radius: 8px;
	cursor: pointer;
	padding: 12px 29px;
	font-size: 16px;
	color: white;
	font-weight: 500;
}

.navButton:hover {
	background-color: #31478f;
}

.navButton__active {
	background-color: #31478f;
}
