.navButton {
	text-decoration: none;
	padding: 0.5em;
	border-radius: 3px;
	cursor: pointer;
	padding: 5px 19px;
	font-size: 20px;
	color: white;
	font-weight: 500;
}

.navButton:hover {
	background-color: #0c473b;
}

.navButton__active {
	background-color: #0c473b;
}

.navButton__formToggleStyle {
	padding: 0.5em;
	background-color: #e45b00;
	border-radius: 8px;
	cursor: pointer;
	padding: 15px 32px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	border: none;
}
.navButton__formToggleStyle:hover {
	background-color: #c05005;
}
