.locationList__locationGrid {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.locationList__displayLocationName,
.locationList__displayLocationType,
.locationList__editLocationBtn,
.locationList__deleteLocationBtn {
	display: block;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	width: 25%;
}

.locationList__editLocationBtn,
.locationList__deleteLocationBtn {
	text-decoration: none;
	padding: 0.5em;
	background-color: #4c63af;
	border-radius: 8px;
	cursor: pointer;
	font-size: 14px;
	border: none;
	color: white;
	width: 5%;
	font-weight: 600;
}

.locationList__editLocationBtn:hover,
.locationList__deleteLocationBtn:hover {
	background-color: #31478f;
}
