.App {
  text-align: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Content Content Content"
    "Footer Footer Footer";
}

.Header {
  grid-area: Header;
  background-color: #007057;
  margin-bottom: auto;
}

.Content {
  grid-area: Content;
  padding: 1em;
  margin: auto 0;
}

.home-text {
  width: 50vw;
  margin: auto;
}

.Footer {
  grid-area: Footer;
  background-color: #095256;
  bottom: 0;
  margin-top: auto;
}
